@font-face {
    font-family: "DMC5font";
    src: url("fonts/DMC5Font.otf");
}

@font-face {
    font-family: "Ultrakill";
    src: url("fonts/VCR_OSD_MONO_1.001.ttf");
}

body {
    margin: 0;
    background-color: black;
    color: white;
}

/* CANVAS NO FUNDO */
#space {
    position: fixed;
    inset: 0;
    z-index: 0;
    pointer-events: none;
}

/* CONTEÚDO NA FRENTE */
#content {
    position: relative;
    z-index: 10;
    padding: 20px;
}

h1 {
    text-align: center;
    font-family: Ultrakill;
    color: white;
}

p, li {
    font-family: Ultrakill;
    color: white;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  background: repeating-linear-gradient(
    to bottom,
    rgba(255,255,255,0.03),
    rgba(255,255,255,0.03) 1px,
    transparent 2px,
    transparent 4px
  );
  z-index: 20;
}

h1, p, li {
  animation: glitch 3s infinite;
}

@keyframes glitch {
  0% { text-shadow: none; }
  20% { text-shadow: 1px 0 white; }
  21% { text-shadow: -1px 0 white; }
  22% { text-shadow: none; }
}

#ultrakill-skull {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 120px;     /* tamanho */
  opacity: 0.25;    /* marca d’água */
  pointer-events: none;
  z-index: 2;
  image-rendering: pixelated;
}


.botao { 
  display: block;
  margin: 0 auto;      /* centraliza horizontalmente */
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.botao:hover {
  background-color: #222;
}

.botao:active {
  transform: scale(0.96);
}

